# Mac stuff:
.DS_Store

# trunk output folder
dist

# Cloudflare cf CLI local state
.cloudflare/
.wrangler/
node_modules/

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
.idea
Cargo.lock